@charset "utf-8";

@use "bulma/sass" with (
    // Update Bulma's global variables
    $family-sans-serif: '"Lato", sans-serif',
    $widescreen-enabled: false,
    $fullhd-enabled: false,

    // More theme colors could be added here...
    $primary: #454545,

    // $spaces: ("0": 0, "1": 1.65rem, "2": 1.75rem),

    // $margin-default: 1.75rem map-get($spaces, "0"),

    // Update some of Bulma's component & color variables
    // $footer-padding: 3rem 1.5rem,
    $link: hsl(171, 100%, 41%)
);

// https://github.com/metafizzy/flickity/issues/754
@import "flickity/css/flickity.css";

// Import Lato Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Custom Styles
.card-gap {margin-top:1.75rem}
.modal-trigger { cursor: pointer; }
a.icon > strong {margin-left:.25rem}
// .modal-card-body div.content {margin:$margin-default}

// override specific bulma styles
.section {padding: 2.15rem 1.5rem}
.subtitle {
    margin-top: 10px; // Adjust spacing between image and text
    //text-align: center;
  }

  /* Centering and spacing for the video */
.video {
    margin-top: 20px;
  }

  /* Add space between images and text */
.card-content .columns .column {
    margin-bottom: 2rem;
  }

  /* Adjust font sizes for subtitles */
.subtitle {
    font-size: 1.1rem;
    margin-top: 10px;
  }

  /* Ensure images are consistently sized */
.image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  /* Add some padding to the card */
.card {
    padding: 20px;
  }


  /* Style the project section */
.section {
    background-color: #f9f9f9;
    padding: 40px 20px;
  }
  
@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

// Flickity - begin
.carousel-cell {width:100%}
// Flickity - end

